.footer {
  background-color: black; /* Adjust the background color as needed */
  color: white;
  text-align: center;
  padding: 0 0; /* Reduce the padding to make the footer shorter */
  font-size: 0.7rem; /* Adjust the font size if needed */
}
